@import "tailwindcss";

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}
html,body{
    height: 100%;
    width: 100%;
} */

/* ::-webkit-scrollbar{
  overflow-x: hidden;
  
} */



@theme{
  --color-primary:#F9F9F9
}